@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ! Universal styles */
:root {
  --primary-color: #ff5400;
  --black-text-color: #131318;
  --white-text-color: #fff;
  --rgba-gray: rgba(19, 19, 24, 0.7);
  --hex-gray: #5a5a5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  font-family: "Mulish", sans-serif;
  padding: 0 10px;
}

.btn-primary {
  font-size: 1rem;
  font-weight: bold;
  border: transparent;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
}

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* ! Header styles */
header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 50px 20px 0;
}

/* ?        nav styles      */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 17px;
}

.company-name {
  font-size: 36px;
  font-weight: 800;
  color: var(--black-text-color);
}

.company-name span {
  color: var(--primary-color);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 44px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
}

.nav-items li:first-child a {
  color: var(--primary-color);
  font-weight: bold;
}

.burger-menu {
  color: #131318;
  font-size: 1.125rem;
  display: none;
}

/* ?        banner styles      */
.banner {
  max-width: 1170px;
  text-align: center;
  background-image: linear-gradient(to bottom, #131318be, rgba(19, 19, 24, 0)),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  color: var(--white-text-color);
}

.banner-content-container {
  padding: 106px 10px;
}

.banner-heading {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  line-height: 1.63;
  max-width: 675px;
  margin: 0 auto 48px;
}

.banner-destination-selector {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 175px);
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 16px;
  gap: 24px;
}

.input-container input {
  width: 100%;
  border: transparent;
  font-size: 1rem;
  padding: 16px;
  border-radius: 8px;
}

.input-container input:focus {
  border: transparent;
  outline: none;
}

.select-container {
  position: relative;
}

.select-box {
  width: 100%;
  border: none;
  appearance: none;
  font-size: 1rem;
  padding: 16px;
  border-radius: 8px;
  color: var(--rgba-gray);
}

.select-box:focus {
  outline: none;
}

.select-container svg {
  position: absolute;
  color: var(--rgba-gray);
  right: 16px;
  top: 18px;
}

.banner-destination-selector .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.banner-destination-selector .btn-primary svg {
  font-size: 1.5rem;
}

/* ! Main styles */

/* ?        Popular Tours section styles      */

/* ! Footer styles */

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* !Responsive designs */
@media screen and (max-width: 600px) {
  /* ?    Header and nav styles    */
  header {
    padding: 20px 0 0;
  }

  .nav-bar {
    margin-bottom: 20px;
  }

  .nav-logo {
    gap: 10px;
  }

  .nav-logo img {
    width: 34px;
    height: 29px;
  }

  .company-name {
    font-size: 1.3125rem;
  }

  .nav-items {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
  }

  /* ?    banner styles    */
  .banner-content-container {
    padding: 32px 16px;
  }

  .banner-heading {
    font-size: 1.375rem;
    margin-bottom: 8px;
  }

  .banner-description {
    font-size: 0.875rem;
    margin-bottom: 32px;
  }

  .banner-destination-selector {
    max-width: 100%;
    grid-template-columns: repeat(1, 100%);
    margin: 0 8px;
  }

  .banner-destination-selector .btn-primary {
    padding: 16px;
  }

  .select-box {
    width: 100%;
  }
}
