@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ! Universal styles */
:root {
  /* todo: colors */
  --primary-color: #ff5500;
  --light-orange: rgba(255, 85, 0, 0.153);
  --black-text-color: #131318;
  --white-text-color: #fff;
  --rgba-gray: rgba(19, 19, 24, 0.7);
  --hex-gray: #5a5a5d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

section {
  margin-bottom: 100px;
}

.btn-primary {
  font-size: 1.25rem;
  font-weight: bold;
  border: transparent;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.section-header {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--black-text-color);
  margin-bottom: 24px;
}

.section-description {
  font-size: 1rem;
  color: var(--rgba-gray);
  line-height: 1.63;
  margin-bottom: 48px;
  max-width: 643px;
}

.card-header {
  color: var(--black-text-color);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 16px;
}

.card-description {
  font-size: 1rem;
  color: var(--hex-gray);
  line-height: 1.63;
}

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* ! Header styles */
header {
  max-width: 1180px;
  margin: 0 auto;
  padding: 50px 0;
}

/* ?        nav styles      */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 17px;
}

.company-name {
  font-size: 36px;
  font-weight: 800;
  color: var(--black-text-color);
}

.company-name span {
  color: var(--primary-color);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 44px;
}

.nav-items li {
  list-style: none;
}

.nav-items li a {
  text-decoration: none;
  color: #424247;
  font-size: 1.125rem;
}

.nav-items li:first-child a {
  color: var(--primary-color);
  font-weight: bold;
}

.burger-menu {
  color: #131318;
  font-size: 1.125rem;
  display: none;
}

/* ?        banner styles      */
.banner {
  max-width: 1170px;
  text-align: center;
  background-image: linear-gradient(to bottom, #131318be, rgba(19, 19, 24, 0)),
    url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  color: var(--white-text-color);
}

.banner-content-container {
  padding: 106px 10px;
}

.banner-heading {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}

.banner-description {
  line-height: 1.63;
  max-width: 675px;
  margin: 0 auto 48px;
}

.banner-destination-selector {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 175px);
  margin: 0 auto;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 16px;
  gap: 24px;
}

.input-container input {
  width: 100%;
  border: transparent;
  font-size: 1rem;
  padding: 16px;
  border-radius: 8px;
}

.input-container input:focus {
  border: transparent;
  outline: none;
}

.select-container {
  position: relative;
}

.select-box {
  width: 100%;
  border: none;
  appearance: none;
  font-size: 1rem;
  padding: 16px;
  border-radius: 8px;
  color: var(--rgba-gray);
}

.select-box:focus {
  outline: none;
}

.select-container svg {
  position: absolute;
  color: var(--rgba-gray);
  right: 16px;
  top: 18px;
}

.banner-destination-selector .btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1rem;
}

.banner-destination-selector .btn-primary svg {
  font-size: 1.5rem;
}

/* ! Main styles */
main {
  max-width: 1210px;
  padding: 0 20px;
  margin: 100px auto;
}

/* ?        Popular Tours section styles      */
.popular-tours {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: space-between;
}

.discover-the-world,
.popular-tours-content .section-description ul {
  margin-bottom: 24px;
}

.popular-tours-content .section-description {
  margin-bottom: 32px;
}

.popular-tours-content .section-description ul {
  max-width: 525px;
  padding-left: 30px;
}

.popular-tours-content .section-description ul li {
  margin-bottom: 16px;
}

.are-you-ready {
  color: var(--hex-gray);
}

.popular-tours-content .btn-primary {
  padding: 14px 34px;
}

/* ?        Choose Destination section styles      */
.choose-destination {
  text-align: center;
}

.choose-destination .section-description {
  max-width: 645px;
  margin-left: auto;
  margin-right: auto;
}

.grid-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 300px 286px 300px;
}

.grid-item {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid-item h3 {
  font-size: 1.75rem;
  font-weight: 800;
  color: #fff;
}

.maldives {
  background-image: url("../images/maldives.png");
  grid-row: 1;
  grid-column: 1 / span 5;
}

.indonesia {
  background-image: url("../images/indonesia.png");
  grid-row: 1;
  grid-column: 6 / span 5;
}

.srilanka {
  background-image: url("../images/srilanka.png");
  grid-row: 2;
  grid-column: 1 / span 3;
}

.north-america {
  background-image: url("../images/north-america.png");
  grid-row: 2;
  grid-column: 4 / span 5;
}

.kashmir {
  background-image: url("../images/kashmir.png");
  grid-row: 2;
  grid-column: 9 / span 2;
}

.bangladesh {
  background-image: url("../images/bangladesh.png");
  grid-row: 3;
  grid-column: 1 / span 4;
}

.bandarban {
  background-image: url("../images/bandarban.png");
  grid-row: 3;
  grid-column: 5 / span 6;
}

/* ? why choose us section styles */
.why-choose-us .section-header,
.why-choose-us .section-description {
  text-align: center;
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
}

.choose-us-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.choose-us-cards-container .card {
  max-width: 573px;
  padding: 32px 55px 32px 32px;
  border-radius: 16px;
}

.handpicked-hotels {
  border: solid 1px rgba(251, 181, 99, 0.2);
  background-color: rgba(251, 181, 99, 0.05);
}

.world-class-service {
  border: solid 1px rgba(41, 206, 246, 0.2);
  background-color: rgba(41, 206, 246, 0.05);
}

.best-price-guarantee {
  border: solid 1px rgba(233, 68, 68, 0.2);
  background-color: rgba(233, 68, 68, 0.05);
}

.choose-us-cards-container .card .card-image-container {
  width: 64px;
  height: 64px;
  margin-bottom: 32px;
}

.choose-us-cards-container .card .card-image-container img {
  width: 100%;
  object-fit: cover;
}

/* ? Deals and discounts section styles */
.deals-and-discounts .section-header,
.deals-and-discounts .section-description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.deals-cards-container {
  margin-bottom: 48px;
}

.deals-card {
  background-image: url("../images/deals-card-bg-1-3.png");
  padding: 56px;
  display: flex;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 24px;
}

.deals-card:nth-child(2) {
  background-image: url("../images/deaks-card-bg-2.png");
  justify-content: flex-start;
}

.card-content {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 580px;
  padding: 50px 75px 50px 50px;
  border: solid 2px #fff;
  backdrop-filter: blur(5px);
  border-radius: 16px;
}

.tour-duration-and-destination-info {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.tour-duration-and-destination-info p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--hex-gray);
  gap: 8px;
}

.tour-duration-and-destination-info p svg {
  color: var(--primary-color);
  font-size: 1.5rem;
}

.deals-cards-container .card-content .card-description {
  margin-bottom: 16px;
}

.discount-card-price {
  font-size: 1.25rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-bottom: 24px;
}

.discount-card-button {
  padding: 14px 24px;
}

.see-all-packages-button {
  display: block;
  padding: 14px 22px;
  margin: auto;
}

/* ? Featured properties section (bonus design) styles */
.featured-properties .section-header,
.featured-properties .section-description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.property-locations {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  justify-content: center;
}

.property-locations p {
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--light-orange);
  color: var(--black-text-color);
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.property-locations p:first-child {
  background-color: var(--primary-color);
  color: #fff;
}

.property-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.property-card {
  width: 265px;
  box-shadow: 1px 1px 20px rgba(128, 128, 128, 0.33);
  border: 1px solid gainsboro;
  border-radius: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in;
}

.property-card:hover {
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.66);
}

.property-card .property-card-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.property-card-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in;
}

.property-card:hover .property-card-image-container img {
  transform: scale(1.1);
}

.property-card-details-container {
  padding: 16px;
}

.property-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--black-text-color);
  margin-bottom: 8px;
}

.rating-and-review-numbers {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0 16px 0;
}

.rating-number {
  font-size: 1rem;
  background-color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 16px;
  border-top-right-radius: 0;
  color: #fff;
}

.rating-number span {
  font-size: 0.75rem;
}

.review-number {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--hex-gray);
}

.property-price {
  text-align: end;
  color: var(--rgba-gray);
}

.property-price span {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--primary-color);
}

/* ? Simple Perfect Place section styles */
.simple-perfect-place {
  display: flex;
  gap: 36px;
}

.simple-perfect-place-contents {
  max-width: 535px;
}

.simple-perfect-place-contents .section-description {
  margin-bottom: 32px;
}

.simple-perfect-place-contents .section-description p {
  margin-bottom: 24px;
}

.simple-perfect-place-contents .section-description ul {
  color: var(--black-text-color);
  padding: 0 10px 0 20px;
  font-weight: bold;
}

.simple-perfect-place-contents .section-description ul li {
  margin-bottom: 16px;
}

.see-more-button {
  padding: 14px 32px;
}

.simple-perfect-place-video {
  max-width: 600px;

  border-radius: 16px;
  flex-grow: 1;
}

.simple-perfect-place-video iframe {
  border-radius: 16px;
  min-height: 200px;
}

/* ? Newsletter section styles */
.newsletter {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
}

.newsletter-content {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 16px;
}

.newsletter-header {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--black-text-color);
  margin-bottom: 16px;
}

.newsletter-description {
  font-size: 1rem;
  margin-bottom: 24px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(19, 19, 24, 0.1);
  margin-bottom: 24px;
}

.newsletter-content input {
  font-size: 1rem;
  border: transparent;
  outline: none;
  padding: 16px 20px;
  background-color: rgba(19, 19, 24, 0.05);
  border-radius: 8px;
  margin-bottom: 16px;
}

.subscribe-button {
  padding: 14px;
  margin-top: 8px;
}

.newsletter-image {
  max-width: 672px;
  position: relative;
  min-height: 300px;
  border-radius: 16px;
}

.newsletter-image img {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.save-ribbon {
  position: absolute;
  background-color: var(--primary-color);
  text-align: center;
  color: #fff;
  padding: 35px 45px;
  border-radius: 16px;
  transform: rotate(-19.63deg);
  bottom: 55px;
  right: 10px;
}

.save-ribbon .travel {
  font-size: 1.5rem;
}

.save-ribbon .save {
  font-size: 2rem;
  font-weight: 800;
}

/* ! Footer styles */
footer {
  background-color: rgba(19, 19, 24, 0.05);
  padding: 110px 20px;
  text-align: center;
}

.footer-container {
  max-width: 872px;
  margin: 0 auto;
}

.footer-container .nav-logo {
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.footer-container .nav-logo img {
  width: 46px;
}

.footer-container .nav-logo .company-name {
  font-size: 2rem;
}

.footer-description {
  font-size: 1rem;
  color: var(--hex-gray);
  line-height: 1.63;
  padding: 0 50px;
  margin-bottom: 32px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  gap: 32px;
  margin-bottom: 50px;
}

.footer-links a {
  text-decoration: none;
  color: var(--black-text-color);
}

.footer-container hr {
  margin-bottom: 50px;
}

.copyright {
  font-size: 1rem;
  color: var(--black-text-color);
}

/* ! */
/* ! */
/* ! */
/* ! */
/* ! */

/* !Responsive designs */
@media screen and (max-width: 600px) {
  /* * Global styles */
  section {
    margin-bottom: 24px;
  }

  .section-header,
  .card-header {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .section-description {
    font-size: 0.875rem;
    margin-bottom: 16px;
    line-height: 1.71;
  }

  .card-description {
    font-size: 0.875rem;
    line-height: 1.71;
  }

  /* ?    Header and nav styles    */
  header {
    padding: 20px 0 0;
    margin: 0 20px;
  }

  .nav-bar {
    margin-bottom: 20px;
  }

  .nav-logo {
    gap: 10px;
  }

  .nav-logo img {
    width: 34px;
    height: 29px;
  }

  .company-name {
    font-size: 1.3125rem;
  }

  .nav-items {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
  }

  /* ?    banner styles    */
  .banner-content-container {
    padding: 32px 16px;
  }

  .banner-heading {
    font-size: 1.375rem;
    margin-bottom: 8px;
  }

  .banner-description {
    font-size: 0.875rem;
    margin-bottom: 32px;
  }

  .banner-destination-selector {
    max-width: 100%;
    grid-template-columns: repeat(1, 100%);
    margin: 0 8px;
  }

  .banner-destination-selector .btn-primary {
    padding: 16px;
  }

  .select-box {
    width: 100%;
  }

  /* *    main styles    */
  main {
    margin: 24px auto;
  }

  .popular-tours {
    flex-direction: column;
    gap: 24px;
  }

  .popular-tours-image-container img {
    width: 100%;
  }

  .discover-the-world,
  .popular-tours-content .section-description ul {
    margin-bottom: 16px;
  }

  .popular-tours-content .section-description {
    margin-bottom: 24px;
  }

  .popular-tours-content .section-description ul li {
    margin-bottom: 12px;
  }

  /* ?    choose your destination section styles   */
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 176px);
    gap: 16px;
  }

  .grid-item h3 {
    font-size: 1.25rem;
  }

  .maldives {
    grid-row: 1;
    grid-column: 1;
  }

  .indonesia {
    grid-row: 2;
    grid-column: 1;
  }

  .srilanka {
    grid-row: 3;
    grid-column: 1;
  }

  .north-america {
    grid-row: 4;
    grid-column: 1;
  }

  .kashmir {
    grid-row: 5;
    grid-column: 1;
  }

  .bangladesh {
    grid-row: 6;
    grid-column: 1;
  }

  .bandarban {
    grid-row: 7;
    grid-column: 1;
  }

  /* ?    why choose us section styles   */
  .choose-us-cards-container .card {
    padding: 32px;
  }

  .choose-us-cards-container .card .card-image-container {
    margin-bottom: 16px;
    width: 48px;
    height: 48px;
  }

  /* ?    Deals and discounts section styles   */
  .deals-card {
    height: 500px;
    padding: 16px;
    align-items: flex-end;
    margin-bottom: 16px;
  }

  .card-content {
    padding: 24px;
  }

  .tour-duration-and-destination-info {
    margin-bottom: 16px;
  }

  .card-content .section-header {
    margin-bottom: 8px;
  }

  .card-content .section-description {
    margin-bottom: 12px;
  }

  .discount-card-price {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .see-all-packages-button {
    display: none;
  }

  /* *  Featured Properties styles */

  .property-cards-container {
    gap: 16px;
  }

  .property-card {
    width: 100%;
  }

  /* *    Simple Perfect Place section styles */
  .simple-perfect-place {
    flex-direction: column;
    gap: 24px;
  }

  .simple-perfect-place-contents {
    max-width: 100%;
  }

  .simple-perfect-place-contents .section-description {
    margin-bottom: 24px;
  }

  .simple-perfect-place-contents .section-description p {
    margin-bottom: 16px;
  }

  /* *    newsletter section styles    */
  .newsletter {
    flex-direction: column;
    gap: 16px;
  }

  .newsletter-content,
  .newsletter-image {
    width: 100%;
  }

  .newsletter-header {
    font-size: 1.25rem;
    margin-bottom: 8px;
  }

  .newsletter-description {
    font-size: 0.875rem;
    margin-bottom: 16px;
  }

  .newsletter-content hr {
    margin-bottom: 16px;
  }

  .subscribe-button {
    margin-top: 4px;
  }

  .save-ribbon {
    padding: 22px 30px;
    border-radius: 11px;
    bottom: 40px;
  }

  .save-ribbon .travel {
    font-size: 1rem;
  }

  .save-ribbon .save {
    font-size: 1.25rem;
  }

  /* !    footer styles    */
  footer {
    padding: 32px 20px;
  }

  .footer-container .nav-logo img {
    width: 34px;
  }

  .footer-container .nav-logo .company-name {
    font-size: 1.375rem;
  }

  .footer-description {
    font-size: 0.875rem;
    line-height: 1.71;
    padding: 0 24px;
    margin-bottom: 16px;
  }

  .footer-links,
  .footer-container hr {
    margin-bottom: 24px;
  }

  .footer-container hr {
    font-size: 0.875rem;
  }
}
